.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
label {
  display: flex;
}
input["text"],
input["email"],
input["password"] {
  width: 400px;
  padding: 6px 14px;
  display: block;
}
input + label {
  display: inline-flex;
  margin-right: 20px;
  margin-left: 5px;
}

.formControl {
  margin-bottom: 20px;
}

.error {
  color: red;
}
